.footer {
    width: 100% !important;
    bottom: 0;
    background-color:  #2c315c;
    min-height: 190px;
    padding: 30px 10px 30px 80px;
    color: #ccc;
    font-family: 'Roboto', sans-serif;

}
.footer-content {
    display: flex;
    gap: 150px;
}

.connect {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.connect img {
    height: 30px;
    width: 130px;
    margin: 0px;
}

.social_Media_Icons{
    display: flex;
    font-size: 25px;
    align-items: center;
    gap: 5px;
    margin-left: 300px;
    cursor: pointer;
    
}

.social_Media_Icons a {
    text-decoration: none;
}

.copyright {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 90px 0 0 0;
    font-size: 12px;
    color: #ccc;
    
}

.About {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 180px;
    
}

.text_about {
    font-weight: bold;
    text-align: center;

}
.about-content{
    display: flex;
    align-items: center;
}
.about-content p {
    font-size: 15px;
    text-align: left;
   
}

.ContactUs {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contactname {
    font-weight: bold;
}

.contact12 {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

